.list-group{
    width: 50% !important;
    

}

@media screen and (max-width:768px) {
    .list-group{
        width: 75% !important;
    }
    #editForm{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #editForm input{
        width: 100%;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        row-gap: 1rem;
        column-gap: 1rem;
    }
    
}

